.list {
  list-style: none;
  padding: 0;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 6px;
  background: #141414;
  margin-bottom: 5px;
  border-radius: 5px;
}

.done {
  text-decoration: line-through;
  opacity: 0.5;
}
