body {
  background-color: #0f0f0f;
  font-family: Arial, sans-serif;
  color: #f2d9ae;
}

.container {
  width: 400px;
  margin: auto;
  margin-top: 40px;
  background: #1a1a1a;
  padding: 20px;
  border-radius: 12px;
}
